* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    list-style: none;
    font-family: "unb";
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    max-width: 1420px;
    margin: 0 auto;
}

@font-face {
    font-family: "unb";
    src: url(../fonts/Unbounded-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "unb";
    src: url(../fonts/Unbounded-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "unb";
    src: url(../fonts/Unbounded-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "unb";
    src: url(../fonts/Unbounded-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "unb";
    src: url(../fonts/Unbounded-SemiBold.ttf);
    font-weight: 600;
}

/* header start */
.header {
    padding: 20px 0;
}

.header-black {
    background: #080808;
}

.header-logo~a {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: 100px;
    z-index: 100;
}

.nav {
    z-index: 10;
}

.header-login {
    display: flex;
    gap: 19px;
    align-items: center;
}

.header-nav a {
    color: #333333;
    font-size: 18px;
}

.header-login a {
    color: #283618;
    font-size: 18px;
}

.header-yellow a {
    color: #FEFAE0;
    font-size: 18px;
    font-weight: 300;
}

.header-white a {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.header-nav-more {
    display: none
}

.nav-no {
    display: none;
}

.fa-bars {
    color: #FEFAE0;
}

/* header end */

/* banner start */
.banner {
    background: url(../images/banner/banner-bg.png) no-repeat;
    background-size: 100%;
    height: 100vh;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 100px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    gap: 20px;
}

.banner-inf {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title h1 {
    font-size: 111px;
    font-weight: 500;
    margin-top: -100px;
}

.banner-img {
    width: 100%;
    z-index: 10;
}

.banner-inf a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 6px;
    transition: .5s ease-in-out;
}

.banner-inf a:hover {
    background: #fff;
    color: #080808;
}

.banner-social {
    display: flex;
}

.banner-social i {
    color: #080808;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #080808;
}

.fa-behance {
    margin-left: -10px;
}

.fa-arrow-right {
    transform: rotate(-45deg);
}

.banner-black {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    background: #080808;
}

.banner-tatarstar {
    position: absolute;
    top: 130px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 450px;
}

/* banner end */

/* popular start */
.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}

.popular-block {
    display: flex;
    flex-direction: column;
    border: 1px solid #283618;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    overflow: hidden;
}

.popular-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 70px;
    background: #283618;
    border-bottom: 1px solid #283618;
    transition: .7s;
}

.popular-settings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.popular-row img {
    width: 100%;
    padding-top: 25px;
}

.popular-row {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    padding: 0px 45px;
}

.popular-inf {
    display: flex;
    width: 100%;
    gap: 45px;
}

.popular-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-card p {
    font-size: 17px;
    color: #333333;
    font-weight: 300;
}

.popular-card h4 {
    font-size: 21px;
    color: #283618;
    font-weight: 600;
}

.popular-settings i,
p {
    font-size: 16px;
    color: #333333;
}

.fa-sliders {
    transform: rotate(90deg);
}

.popular-title h3 {
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.popular-scroll {
    display: flex;
    align-items: center;
}

.popular-scroll hr {
    width: 300px;
    border: 1px solid #333333;
    border-radius: 2px;
}

.scroll-bar {
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background: #283618;
}

.popular-block:hover .popular-title {
    background: transparent;
}

.popular-block:hover .popular-title h3 {
    color: #283618;
}

/* popular end */

/* categories start */
.categories {
    display: flex;
    gap: 20px;
    margin-bottom: 120px;
}

.categories-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categories-card {
    position: relative;
}

.bottom {
    position: absolute;
    bottom: 30px;
    left: 24px;
}

.categories-inf {
    display: flex;
    gap: 16px;
    align-items: center;
}

.categories-inf h3 {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

.top {
    position: absolute;
    top: 18px;
    left: 24px;
}

.cat-img {
    width: 100%;
    transition: .3s;
}

.categories-card:hover .cat-img {
    filter: brightness(2);
}

/* categories end */

/* catalog title start */
.catalog-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 110px 60px;
}

.catalog-title h2 {
    font-size: 52px;
    font-weight: 500;
    color: #283618;
    text-transform: uppercase;
}

.catalog-title p {
    font-size: 20px;
    font-weight: 200;
}

/* catalog title end */

/* catalog search start */
.catalog-search {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 60px;
}

.catalog-search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px;
    gap: 50px;
}

.catalog-search-input input {
    border: none;
    outline: none;
    font-family: "unb";
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    color: #283618;
}

.catalog-search-input input::placeholder {
    color: #B4B4B4;
}

.catalog-search-input input:focus::placeholder {
    color: transparent;
}

.catalog-search-input a {
    font-size: 20px;
    color: #B4B4B4;
    transform: scale(-1, 1);
    font-weight: 200;
    z-index: -10;
}

/* catalog search end */

/* catalog start */
.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    margin-bottom: 100px;
}

.catalog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-setting {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.catalog-setting-first {
    display: flex;
    align-items: center;
    gap: 11px;
}

.catalog-setting-second {
    display: flex;
    align-items: center;
    gap: 11px;
}

.catalog-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.catalog-row {
    display: flex;
    gap: 51px;
    width: 100%;
    align-items: center;
}

.catalog-card-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.catalog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-card-name {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: -30px;
    flex: 1;
    width: 100%;
}

.catalog-card-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
}

.catalog-img {
    width: 100%;
}

.catalog-hr {
    display: flex;
    justify-content: space-between;
    gap: 154px;
    padding: 0 22px;
}

.catalog-pagination {
    display: flex;
    align-items: center;
    gap: 5px;
}

.catalog-pagination a {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
}

.catalog-pagination-first {
    background: #283618;
    font-size: 20px;
    color: white;
}

.catalog-setting-first img {
    width: 30px;
}

.catalog-setting a,
p {
    font-size: 16px;
    font-weight: 300;
    z-index: -1;
}

.catalog-card-name p {
    font-size: 17px;
    font-weight: 300;
    width: 100%;
}

.catalog-card-name h4 {
    font-size: 17px;
    font-weight: 300;
    color: #ACACAC;
}

.catalog-card-price h3 {
    font-size: 21px;
    font-weight: 600;
    color: #283618;
}

.catalog-card-price a {
    background: #283618;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    border: 1px solid #283618;
    transition: .5s;
}

.catalog-card-price a:hover {
    background: transparent;
    color: #283618;
}
/* catalog end */

/* card start */
.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 100px 0px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
}

.card-block-1 {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.card-block-1-images {
    display: flex;
    gap: 20px;
}

.card-block-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-block-main-img {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-share {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.share-no {
    display: none;
}

.card-artikle {
    display: flex;
    gap: 44px;
    align-items: center;
}

.card-share-icon a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-star {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-block-title-name {
    display: flex;
    width: 100%;
}

.card-block-title {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.card-block-2 {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.card-block-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-block-size {
    display: flex;
    width: 100%;
    gap: 22px;
}

.card-block-size a {
    width: 100%;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #333333;
}

.card-block-column h3 {
    font-size: 19px;
    font-weight: 400;
    color: #283618;
}

.card-block-size a:focus {
    border: none;
    border: 1px solid #333333;
}

.card-block-column img {
    width: max-content;
}

.card-block-title-name h2 {
    font-size: 32px;
    font-weight: 400;
    color: #283618;
}

.card-block-title p {
    font-size: 24px;
}

.card-star img {
    width: 170px;
}

.card-share p,
a {
    color: #333333;
}

.card-block-images img {
    width: 100%;
    height: 100%;
}

.card-block-images a {
    border: 1px solid transparent;
}

.card-block-main-img img {
    width: 570px;
}

.card-btn {
    background: #283618;
    padding: 16px 36px;
    width: max-content;
    color: #fff;
    font-size: 22px;
    border: 1px solid #283618;
    font-weight: 300;
}

.card-btn:hover {
    background: transparent;
    color: #283618;
}

.card-scroll {
    display: flex;
    align-items: center;
}

.card-scroll hr {
    width: 150px;
    border-radius: 2px;
    border: 1px solid #333;
}

.card-scroll div {
    height: 8px;
    width: 60px;
}

.card-block-column p {
    width: 500px;
}

.card-block-images a:focus {
    border: 1px solid #283618;
}

/* card end */

/* basket-page start */
.basket {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px 0px;
    gap: 70px;
    margin-bottom: 100px;
}

.basket-inf {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.basket-name {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.basket-name-img {
    display: flex;
    align-items: center;
    gap: 18px;
}

.basket-name-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basket-count {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.basket-count-pl {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
}

.basket-price-count {
    display: flex;
    align-items: center;
    gap: 52px;
}

.basket-price {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.basket-finally-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    gap: 11px;
}

.basket-form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.basket-form-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basket-form-input {
    display: flex;
    align-items: center;
    gap: 8px;
}

.basket-form-input p {
    display: flex;
    align-items: center;
    gap: 16px;
}

.basket-form-block h3 {
    font-size: 21px;
    column-rule: #283618;
}

.basket-form-input span {
    font-size: 18px;
    font-weight: 400;
    color: #283618;
}

#input {
    background: #283618;
    border-color: #00ff00;
}

#input:checked {
    background-color: #283618;
}

.basket-inf hr {
    width: 100%;
    position: absolute;
    top: 30px;
    border: 1px solid #D8D8D8;
}

.basket-name-img img {
    width: 102px;
    padding: 10px;
    border: 15px;
}

.basket h2 {
    font-size: 52px;
    font-weight: 500;
    color: #283618;
}

.basket-cross {
    padding-top: 80px;
}

.basket-cross i {
    background: #283618;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    border: 1px solid #283618;
    transition: .5s;
    cursor: pointer;
}

.basket-cross i:hover {
    background: transparent;
    color: #283618;
}

.basket-finally-price h3 {
    font-size: 16px;
    font-weight: 300;
}

.basket-finally-price h4 {
    font-size: 18px;
    font-weight: 600;
    color: #283618;
}

.basket-btn {
    padding: 25px 213px;
    background: #283618;
    border: 1px solid #283618;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: .3s;
}

.basket-btn:hover {
    background: transparent;
    color: #283618;
}

.basket-inf h3 {
    font-size: 16px;
    font-weight: 300;
}

.basket-name-text h4 {
    font-size: 13px;
    font-weight: 400;
    color: #283618;
}

.basket-name-text p {
    font-size: 13px;
    color: #ACACAC;
    font-weight: 300;
}

.basket-count h4 {
    font-size: 17px;
    font-weight: 300;
}

.basket-count h5 {
    font-size: 11px;
    font-weight: 400;
    color: #ACACAC;
}

.basket-price h4 {
    font-size: 17px;
    font-weight: 500;
    color: #333;
}

/* basket-page end */

/* footer start */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    padding-bottom: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-block {
    display: flex;
    gap: 160px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer-inf {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-answer {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-nav-block {
    display: flex;
    gap: 160px;
}

footer p,
a {
    font-size: 16px;
    font-weight: 300;
}

footer a:hover {
    opacity: .5;
}

.footer-card h3 {
    font-size: 16px;
    font-weight: 400;
}

.footer-input input {
    border: none;
    outline: none;
    border-bottom: 1px solid #283618;
    font-family: "unb";
    font-size: 16px;
    font-weight: 300;
    padding: 0px 51px 14px 51px;
}

.footer-input input:focus::placeholder {
    color: transparent;
}

.footer-btn {
    padding: 10px 26px;
    background: #283618;
    width: max-content;
    border-radius: 2px;
    color: white;
    border: 1px solid #283618;
    transition: .5s;
}

.footer-btn:hover {
    background: transparent;
    color: #283618;
    opacity: 1;
}

#burger, [for=burger] {
    display: none;
}

/* footer end */

@media screen and (max-width: 440px) {
    .nav {  
        width: 100%;
        height: 100%;
        background-color: #283618;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 60px 20px;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 30px;
        align-items: center;
        width: 100%;
    }

    [for=burger] {
        display: block;
        position: fixed;
        right: 20px;
        top: 27px;
        z-index: 101;
    }

    .header-login a {
        display: none;
    }

    .header-nav-more {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    [for=burger]::before {
        content: '≡';
        font-size: 23px;
    }

    #burger:checked + [for=burger] + .nav {
        display: block;
        animation: show 0.5s;
    }

    #burger:checked + [for=burger]::before {
        content: 'х';
        font-weight: 300;
        font-size: 23px;
        z-index: 102;
        color: white;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .nav-no {
        display: block;
       margin-bottom: 30px;
    }

    .header-nav a {
        color: white;
        font-size: 16px;
    }

    .header-black {
        background: white;
    }

    .header-logo {
        display: none;
    }

    .header-logo~a {
        display: block;
    }

    .header-login .header-icon {
        display: none;
    }

    .header-login {
        gap: 10px;
    }

    .header-container {
        padding: 0 30px;
    }

    .banner-img {
        display: none;
    }

    .banner {
        background: url(../images/banner/banner-bg-2.png) no-repeat;
        width: 100%;
        height: 70vh;
        margin-bottom: 50px;
    }

    .banner-inf a {
        font-size: 23px;
    }

    .banner-black {
        display: none;
    }

    .banner-social {
        display: none;
    }

    .banner-tatarstar {
        width: 200px;
        top: 20px;
    }

    .banner-inf {
        justify-content: center;
    }

    .popular-h3~h3 {
        display: none;
    }

    .popular-img~img {
        display: none;
    }

    .popular-row hr {
        display: none;
    }

    .popular-settings p,i{
        font-size: 13px;
    }

    .first-card~.popular-card {
        display: none;
    }

    .categories {
        flex-direction: column;
        align-items: center;
        gap: 44px;
    }

    .categories-inf h3 {
        font-size: 24px;
    }

    .categories-inf img {
        width: 40px;
    }

    .footer-block {
        flex-direction: column;
        align-items: center;
        gap: 44px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 44px;
    }

    .footer-nav-block {
        flex-direction: column-reverse;
        gap: 44px;
        align-items: center;
    }

    .footer-card {
        align-items: center;
    }

    .footer-inf {
        align-items: center;
    }

    .footer-nav {
        flex-direction: row;
    }

    .footer-answer {
        align-items: center;
    }

    footer p,
    a {
        font-size: 13px;
        text-align: center;
    }

    .footer-input input {
        font-size: 13px;
    }

    .footer h3 {
        font-size: 14px;
    }

    .popular-scroll hr {
        width: 100%;
    }
    
    .popular-scroll {
        width: 100%;
        padding: 0px 60px;
    }

    .catalog-title h2 {
        font-size: 30px;
        text-align: center;
    }

    .catalog-title p {
        font-size: 13px;
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }

    .section {
        padding: 0px 30px;
    }

    .catalog-search-input input {
        font-size: 12px;
    }

    .catalog-hr {
        display: none;
    }

    .catalog-block {
        flex-direction: column;
    }

    .catalog-row {
        flex-direction: column;
    }

    .catalog-search-input {
        padding: 0px 30px;
    }

    .catalog-search {
        gap: 10px;
    }

    .catalog-setting a,p,i {
        font-size: 12px;
    }

    .catalog-card-price i{
        font-size: 12px;
        color: white;
    }

    .catalog-pagination-second {
        font-size: 16px;
    }

    .catalog-pagination-first {
        font-size: 18px;
    }

    .catalog {
        padding: 0px 100px;
    }

    .catalog-card-name p,h4 {
        font-size: 14px;
    }

    .catalog-card-price h3 {
        font-size: 16px;
    }

    .card-container {
        flex-direction: column;
    }

    .card-block-images {
        display: none;
    }

    .card-share {
        display: none;
    }

    .share-no {
        display: block;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card-block-main-img img {
        width: 100%;
    }

    .card-block-size a {
        font-size: 13px;
        padding: 9px 0;
    }

    .card-block-column p {
        width: 100%;
    }

    .card-block-column h3 {
        font-size: 13px;
    }

    .card-btn {
        font-size: 15px;
    }

    .card-block-title h2 {
        font-size: 22px;
    }

    .card-block-title p {
        font-size: 16px;
    }

    .catalog-setting-first img {
        width: 20px;
    }

    .setting-no  i{
        display: none;
    }

    .card-block-column img {
        width: 40px;
    }

    .share-no p,a {
        font-size: 13px;
    }

    .card-block-2 {
        gap: 30px;
    }

    .card-star img {
        width: 100px;
    }

    .header-container img {
        width: 100px;
    }

    .basket h2 {
        font-size: 22px;
    }

    .basket-name-img img {
        display: none;
    }
    
    .basket {
        padding: 0px 30px;
        width: 100%;
        gap: 40px;
    }

    .basket-btn {
        font-size: 13px;
        padding: 20px 0;
        width: 100%;
        font-weight: 300;
    }

    .basket-inf h3 {
        font-size: 12px;
    }

    .basket-name h4 {
        font-size: 12px;
        width: 170px;
    }

    .basket-name p {
        font-size: 10px;
    }

    .basket-count h4 {
        font-size: 10px;
    }
    
    .basket-count h5 {
        font-size: 8px;
    }

    .basket-price h4 {
        font-size: 12px;
    }

    .basket-cross i {
        font-size: 8px;
        height: 15px;
        width: 15px;
    }

    .basket-inf {
        width: 100%;
    }

    .basket-count-pl {
        gap: 5px;
    }

    .basket-price {
        gap: 45px;
    }

    .basket-cross {
        padding-top: 55px;
    }

    .basket-form-block h3 {
        font-size: 15px;
    }

    .basket-form-input p {
        font-size: 11px;
    }

    .basket-form-input span {
        font-size: 13px;
    }

    .basket-finally-price h3 {
        font-size: 12px;
    }

    .basket-finally-price h4 {
        font-size: 13px;
    }
}